<div class="search container">
  <h1>Search results for "<%= @for_title %>"</h1>
  <% @songs.each do |song| %>
    <div>
      <h3><%= song[:title] %></h3>
      <img src="<%= song[:artwork_url] %>" alt="">
      <form action="/songs/save" method="post">
        <%= token_tag %>
        <input type="hidden" name="track_id" value="<%= song[:itunes_song_id] %>">
        <button type="submit">Save</button>
      </form>
    </div>
  <% end %>
</div>